* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.topHeader {
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25));
}

.heroImage {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25)), url(../HTML/fence.jpg);
	background-size: cover;
	height: 90vh;
	width: 100%;
	justify-content: flex-start;
	margin: 0;
}

.profilePic {
	margin: 0;
	padding-bottom: 0;
	color: white;
	border-radius: 500px;
	overflow: hidden;
	border-top-right-radius: 2500px;
}

.headerText {
	font: 54px sans-serif;
	margin: 0;
}

.headerSubText {
	margin: 0;
}

#About {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1rem;
	height: 90vh;
	width: 100%;
	flex-direction: column;
	align-content: center;
	background: #FFF;
	background-image: -webkit-radial-gradient(80% 10%, circle, silver, transparent), -webkit-radial-gradient(10% 10%, circle, red, transparent);
	border-style: outset;
}

.aboutContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	font-size: 20px;
}

.bottomNavLinks {
	align-items: center;
	color: black;
	margin-right: 3rem;
}

a {
	text-decoration: none;
	color: black;
}

.flexArticles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}

#Portfolio {
	height: 90vh;
	width: 100%;
	background: radial-gradient(white, rgb(152, 150, 172));
}

.portfolioHeader {
	font-size: 20px;
}

.projectText {
	flex-direction: column;
	margin-top: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectContainer {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1rem;
	text-align: center;
	font-size: 18px;
}

.imagesContainer {
	display: flex;
	margin: auto auto;
	height: 250px;
	width: 350px;
	overflow: hidden;
}

.projectImages {
	margin: 0;
	height: auto;
	width: 100%;
}

#Contact {
	display: grid;
	height: 90vh;
	grid-template-columns: 1fr 1fr;
	flex-direction: column;
	width: 100%;
	background: linear-gradient(darksalmon, mintcream);
}

.contactBackground {
	background-image: url(../HTML/smawblast.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 15%;
	border-style: ridge;
}

.contactInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 5rem;
	padding-right: 2rem;
	font-size: 20px;
	border-style: ridge;
}

.footerContent{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}