.whole-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    background: #eaeaea;
    padding-top: 1em;
}

header, footer {
    grid-column: 1 / 4;
    padding: 1em;
}

@media all and (max-width: 700px) {
    article {
        grid-column: 1 / 4;
    }
}

body {
    margin: 0 auto;
    padding: 1em;
}

.top-header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.85)),url("../HTML/header.png");
    background-position-x: 75%;
    background-position-y: 50%;
}

.top-nav {
    width: 100%;
    padding-top: .8rem;
    padding-right: 9rem;
    
}

.nav__button {
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-weight: 900;
    font-size: 120%
}

.nav__button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.icon-list-items {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hide {
    opacity: 0;
}

.about-me-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #eaeaea;
    align-items: center;
    justify-content: center;
    max-height: 40rem;
    font-weight: 900;
    font-size: 150%
}

.first-about-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.85)),url(../HTML/test.jpg);
    background-position-x: 49%;
    background-position-y: 50%;
    opacity: 25%;
}

.first-about-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
}

.aboutMeImgContainer {
    display: flex;
    width: auto;
    height: 100%;
}

.about-pics {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 20rem;
}

.about-pics figure {
    margin: 0;
    overflow: hidden;
}

.portfolio-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    background: #eaeaea;
    justify-content: center;
    max-height: 40rem;
    font-weight: 900;
    font-size: 150%
}

.portfolio-head {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    align-items: center;
    background-image: url("../HTML/portfolio.jpg");
    background-position-x: 65%;
    background-position-y: 5%;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-images-container1 {
    background-image: url("../HTML/genericViz.png");
    background-position-x: 45%;
    background-position-y: 60%;
}

.portfolio-images-container1:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.portfolio-images-container2 {
    background-image: url("../HTML/java-screen.jpg");
    background-position-x: 10%;
    background-position-y: 48%;
}

.portfolio-images-container2:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.portfolio-images-container3 {
    background-image: url("../HTML/ML.jpeg");
    background-position-x: 50%;
    background-position-y: 10%;
}

.portfolio-images-container3:hover {
    cursor: pointer;
    transform: scale(1.5);
}

a {
    text-decoration: none;
}

.anchor1 {
    color: black;
}

.anchor2 {
    color: white;
}

.anchor3 {
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.skills-background {
    background-image: url("../HTML/toolbox.jpg");
    background-position-x: 40%;
    font-weight: 900;
    font-size: 120%
}

.skills-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-height: 40rem;
    overflow: hidden;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.skills-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.skills-headers{
    padding-top: 0;
    padding-bottom: 0;
}

.skills-hide-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.skills-hide-box2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.toggle-skills-content {
    display: block
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.extras-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.85)),url("../HTML/header.png");
    background-position-x: 95%;
    background-position-y: 55%;
    font-weight: 900;
    font-size: 150%
}