@media all and (max-width: 700px) {
  article {
    grid-column: 1 / 4;
  }
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}

.dropdown {
  position: fixed;
  display: inline-block;
  left: 0%;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4CAF50;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  cursor: pointer;
}

.dropbtn-right {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}

.dropdown-right {
  position: fixed;
  display: inline-block;
  right: 0%;
  z-index: 1;
}

.dropdown-content-right {
  display: none;
  position: relative;
  background-color: #4CAF50;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
}

.dropdown-content-right a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-right a:hover {
  background-color: #ddd;
  border-radius: 25px;
}

.dropdown-right:hover .dropdown-content-right {
  display: block;
}

.dropdown-right:hover .dropbtn-right {
  background-color: #3e8e41;
  cursor: pointer;
}

html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

a{
  text-decoration: none;
}

section {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("/public/backgrounds/blurPaintingPic.jpg");
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("/public/backgrounds/blurDataPic.jpg");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section3 {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("/public/backgrounds/blurSoftwareDevPic.jpg");
  background-position: 100% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section4 {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("/public/backgrounds/blurLeaderPic.jpg");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section5 {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("/public/backgrounds/blurHardwarePic.jpg");
  background-position: 100% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
  height: 100%;
  text-shadow: black 2px 2px 2px;
}

.center{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center2{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center3{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center4{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center5{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  width: 80%;
  font-size: 30px;
  display: block;
  text-align: center;
}

#text{
  font-size: 40px;
  padding-top: 60px;
  animation: an 3s ease-out 1 both;
  display: inline-block;
  color: white;
  text-shadow: black 2px 2px 2px;
}



@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}
